input[type=text], [type=password]{
    display: flex;
    justify-content: center;
    font-family: ui-sans-serif;
    width:17rem;
    margin: 1rem 0rem;  
    padding: 1rem;
    background: transparent;
    border: none;
    border-bottom: 0.1rem solid #7eb2b7;

}

textarea {
    padding: 1.5rem 2.2rem;
    box-sizing: border-box;
    border: 0.2rem solid #58B19F;
    border-radius: .2rem;
    resize: none;  
}

input[type=submit] {
    display: flex;
    width:10rem;
    justify-content: center;
    line-height: 4rem;
    border-radius: 9em;
    color: #fff;
    font-size: 0.6rem;
    border: 0.3rem solid #5C81F2;
    text-transform: uppercase;
    font-family: ui-sans-serif;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(to right, #8fd3f4 51%, #84fab0 100%);
}

.submit{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}
 
input[type=submit]:hover {
    background-color: #45a049;
  }

.wrap {
    display: flex;
    justify-content: space-between;
    line-height: 0.2rem;
    font-size: 0.6rem;
    margin-bottom: 2rem;
}
.heading{

    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.3rem;
    margin-top: 2rem;
}

.flex-container{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding:01rem;
    align-items: center;
    background-color: whitesmoke;
    border: 0.2rem solid rgb(51, 12, 122);
    color:  #51bcf2;
    justify-content: space-around;
    border-radius: 0.7rem;
}
.form{
    display: flex;
    font-family: ui-sans-serif;
    justify-content: center;
    padding:2rem
}
::-webkit-input-placeholder {
    color: #51bcf2;
  }

.eye{
    display: flex;
    align-items: center;
}
  
  
  @media screen and (max-width: 960px) {
    input[type=text], input[type=submit],input[type=password], textarea{
      width: 50%;
      margin: 1rem;
    }
}