input[type=text] {
    display: flex;
    justify-content: center;
    width: 231px;
    margin: 20px 0px;  
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #7eb2b7;

}

textarea {
    width: 40%;
    height: 50px;
    padding: 15px 22px;
    box-sizing: border-box;
    border: 2px solid #58B19F;
    border-radius: 2px;
    resize: none;  
}

input[type=submit] {
    display: inline-block;
    box-sizing: border-box;
    /* height: 40px; */
    width: -webkit-fill-available;
    line-height: 40px;
    padding: 6px;
    border-radius: 999em;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border: 3px solid #5C81F2;
    text-transform: uppercase;
    font-family: lato;
    letter-spacing: 2px;
    font-weight: 600;
    background-image: linear-gradient(to right, #8fd3f4 51%, #84fab0 100%);
    margin-top: 25px;
}
 
input[type=submit]:hover {
    background-position: right center; 
}

.flex-container {
    display: flex;
    justify-content: center;
    line-height: 2px;
    font-size: 16px;
    margin-bottom: 20px;
}
.heading{
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    padding: 3px;
    margin-top: 20px;
}

.wrap{
    background-color: whitesmoke;
    margin-left:30%;
    margin-right:30%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* padding:15px; */
    border: 2px solid rgb(51, 12, 122);
    color:  #51bcf2;
    justify-content: space-around;
    border-radius: 7px;
}
::-webkit-input-placeholder {
    color: #51bcf2;
  }

  div{
      padding: 7px
  }